extends layout.pug

block content
  .container.mb-4
    .row
      .col
      .col-10
        .heading.mb-4
          h1 Submarine Swap
          p.text-muted
            | Trade on-chain tokens for Lightning invoice payments.

        include includes/create_swap_quote.pug

        .quotes

        include includes/swap_quote.pug

        include includes/swap_success.pug

      .col

